<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib//elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .flag{
        width: 90px;
        height: 95px;
      }
    </style>
      <div class="container">
        <div class="row">
          <img class="col-lg-8 col-xs-12 flag" src="https://image.flaticon.com/icons/svg/2036/2036438.svg" alt="">
        </div>
        <div class="row">
          <h1>Gestor de Clientes</h1>
          <button on-click="obtenerClientes" class="btn btn-success" type="button" name="button">Obtener Clientes</button>
          <button on-click="agregarCliente" class="btn btn-info" type="button" name="button">Registrar Clientes</button>
        </div>
        <div class="row">
          <table>
            <tbody>
              <template is="dom-repeat" items="{{clientes}}">
                <tr>
                  <td>
                    [[item.CustemoerID]]
                  </td>
                  <td>
                    [[item.ContactName]]
                  </td>
                  <td>
                    [[item.CompanyName]]
                  </td>
                </tr>

              </template>
            </tbody>
          </table>
        </div>
      </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes:{
           type: Array,
           notify: true
          }
        }
      }
      // se agregan los metodos a ser usados
      incrementar(){
        this.prop2 = this.prop2 + 1;
        //this.prop2 += 1;
        console.log("prop2:" + this.prop2);
        console.log("prop1:" + this.prop1);
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";

        request.open("GET", url, false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        //console.table(JSON.parse(request.responseText).value);
        console.table(this.clientes);
      }
      agregarCliente(){
        var request = new XMLHttpRequest();
        var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";

        request.open("POST", url, false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-type","application/json");
        var nuevoCliente = {"CustomerID":1234, "ContactName":"Pepe", "CompanyName":"Pepes Bar"};
        var body = JSON.stringify(nuevoCliente);

        request.send(body);
        this.respuesta = request.responseText;
        console.table(this.respuesta);
      }
    }


    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
